# DB
DB_HOST=localhost
DB_NAME=finsight
DB_USERNAME=finsight
DB_PASSWORD=finsight1234

# JWT
JWT_SECRET=
JWT_EXPIRATION=

# File upload
FILE_UPLOAD_DIR=
FILE_STORAGE_TYPE=

# AWS S3
AWS_S3_BUCKET=
AWS_REGION=

# AI server
AI_SERVER_URL=

# Kakao login
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
# 로컬 개발: http://localhost:8080/login/oauth2/code/kakao
# 배포: https://kmu-finsight.vercel.app/login/oauth2/code/kakao
KAKAO_REDIRECT_URI=http://localhost:8080/login/oauth2/code/kakao
